APPLICATION_NAME="hello-wasm-io"
IMAGE_NAME="k33g/cracker-amd64"
IMAGE_TAG="0.0.3"
KUBE_NAMESPACE="demo"
DNS="d6774013-8c05-4c92-8af9-c0d9b067f9ec.k8s.civo.com"
WASM_FILE="./tmp/hello-go.wasm"
HTTP_PORT="8080"
FUNCTION_NAME="helloWorld"
WASM_REGISTRY="gitlab.com"
WASM_URI="/api/v4/projects/43900010/packages/generic/go_wasm_io/0.0.1/hello-go.wasm"
